@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  /* overflow-y: hidden; */
  /* overflow-x: auto; */
}
.main{
  background: url('../src/assets/logo.jpg') no-repeat center ;
  background-size: contain;
  height: 100vh;
}
.h1{
  font-size: max(20vw, 20px);
}
.fade{
  animation: fadeIn 0.4s ease-in-out  ;
}
.fades{
  animation: fadesIn 0.4s ease-in-out;
}

@keyframes fadesIn {
  from {
    opacity: 0;
    right: -100px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    right: -100px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
.active{
  background-color: rgba(0, 0, 255, 0.493);
  border-radius: 3px;
  border-left: 2px solid #333;
  color: blue;


}
@media (max-width: 768px) {
  body {
    font-size: 14px;
    overflow: auto;
    /* overflow-y: none; */
  }
  .active {
    /* background-color: rgba(0, 0, 255, 0.49); */
    background-color: transparent ;
    border-left: none;
    border-radius: 0;
    /* color: #1c2356; */
    border-bottom: 2px solid rgb(55, 255, 0);
  }
}
.color{
  background-color: #1c2356;;
}

